* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span {
  font-weight: bold;
}

main {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: rgba(25, 32, 47,.7);
}
main > .helpInfo{
  font-style:italic;
  font-size:24px;
  color:rgba(251,251,251,.9);
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
